.banner {
  margin: 20px 0px -20px;

  .container {
    padding: 0;
  }

  &_box {
    border: 1px solid black;
    width: 100%;
    background-color: white;
    height: 50vh;
    padding: 0;
    margin: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &_links {
    ul {
      li {
        list-style: none;
        display: flex;
        flex-direction: column;

        .li-lists {
          display: flex;
          align-items: center;
          justify-content: space-between;
          border-radius: 8px;
          font-weight: 600;
          outline: none;
          cursor: pointer;
          transition: all 0.2s ease-in-out;
          padding: 10px 0px 10px 5px;

          a {
            text-decoration: none;
            color: black;
            font-weight: 500;
          }
          img {
            width: 10%;
          }

          &:hover {
            background-color: rgb(231, 239, 247);
            padding: 10px 0px 10px 15px;
          }
        }
      }
    }
  }

  &_sarkar {
    margin-left: 50px;
    background-color: rgb(254, 253, 253);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    height: 55vh;

    .sarkar-logo {
      width: 50%;
    }

    .less {
      width: 20%;
      background-color: rgb(235, 232, 232);
      padding: 10px;
      border-radius: 50%;
      cursor: pointer;
      margin-left: 100px;
      visibility: hidden;
    }

    .greater {
      cursor: pointer;
      margin-left: 100px;
      width: 20%;
      background-color: rgb(235, 232, 232);
      padding: 10px;
      border-radius: 50%;
      transition: all 0.1s ease-in;
      visibility: hidden;
    }

    &:hover {
      .less,
      .greater {
        visibility: visible;
      }
    }
  }

  .button {
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      margin: 50px auto;
      text-decoration: none;
      padding: 15px 12px;
      background: black;
      color: white;
      border-radius: 10px;
      transition: all 0.3s ease-in-out;
    }
  }
}
