.banner {
  padding: 20px 0px;

  &_links {
    background-color: rgb(252, 252, 252);
    border-radius: 6px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    ul {
      padding: 7px 5px 0;
      li {
        list-style: none;
        display: flex;
        flex-direction: column;

        .li-lists {
          display: flex;
          align-items: center;
          justify-content: space-between;
          border-radius: 8px;
          font-weight: 600;
          margin-bottom: 7px;
          outline: none;
          cursor: pointer;
          transition: all 0.2s ease-in-out;
          padding: 10px 10px 10px 20px;

          a {
            text-decoration: none;
            color: black;
          }
          img {
            width: 10%;
          }

          &:hover {
            background-color: rgb(235, 232, 232);

            img {
              transform: scale(1.2);
            }
          }
        }
      }
    }
  }

  &_sarkar {
    margin-left: 50px;
    background-color: rgb(254, 253, 253);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    height: 71vh;

    .sarkar-logo {
      width: 50%;
    }

    .less {
      width: 20%;
      background-color: rgb(235, 232, 232);
      padding: 10px;
      border-radius: 50%;
      cursor: pointer;
      margin-left: 100px;
      visibility: hidden;
    }

    .greater {
      cursor: pointer;
      margin-left: 100px;
      width: 20%;
      background-color: rgb(235, 232, 232);
      padding: 10px;
      border-radius: 50%;
      transition: all 0.1s ease-in;
      visibility: hidden;
    }

    &:hover {
      .less,
      .greater {
        visibility: visible;
      }
    }
  }

  .button {
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      margin: 0 auto;
      text-decoration: none;
      padding: 15px 12px;
      background: rgb(28, 37, 46);
      color: white;
      border-radius: 10px;
      transition: all 0.3s ease-in-out;

      &:hover {
        background-color: rgb(245, 237, 237);
        color: black;
      }
    }
  }
}
