.header {
  .header-upper {
    background-color: black;
    color: white;

    h3 {
      font-size: 20px;
      border: 1px solid white;
      padding: 5px 10px;
    }

    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 15px 0px;

      .search-bar {
        background-color: rgb(235, 232, 232);
        padding: 5px 15px;
        width: 50%;
        border-radius: 12px;
        display: flex;
        align-items: center;
        cursor: pointer;

        input {
          color: black;
          margin-left: 20px;
          outline: none;
          background: transparent;
          border: none !important;
          width: 100%;

          &::placeholder {
            font-size: 14px;
            color: black;
            opacity: 0.8;

            word-spacing: 5px;
            letter-spacing: 2px;
          }
        }

        img {
          width: 3%;
        }
      }

      span {
        .btn-login {
          background-color: rgb(245, 237, 237);
          padding: 5px 20px 7px;
          border-radius: 3px;
          color: black;
        }

        .btn-register {
          margin-left: 10px;
          border: 1px solid rgb(245, 237, 237);
          padding: 5px 15px 7px;
          background: transparent;
          border-radius: 3px;
          color: rgb(245, 237, 237);
          transition: all 0.4s ease-in;

          &:hover {
            background-color: rgb(245, 237, 237);
            color: black;
          }
        }

        a {
          text-decoration: none;
        }
      }
    }
  }

  .header-lower {
    background-color: rgb(242, 242, 242);

    .container {
      padding: 15px 0px 15px;

      nav {
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        ul {
          display: inline-block;
          li {
            list-style: none;

            a {
              text-decoration: none;
              color: black;
              margin-right: 88px;
              position: relative;

              &:last-child {
                margin-right: 0px;
              }

              &:hover::before {
                overflow: hidden;
                content: "";
                position: absolute;
                width: 100%;
                border-bottom: 1.5px solid black;
                bottom: -3px;
                animation: left 0.5s ease-in;
                animation-fill-mode: forwards;
                visibility: hidden;
              }
            }
          }
        }
        @keyframes left {
          0% {
            visibility: visible;
            left: 0;
            width: 0%;
          }

          50% {
            width: 50%;
          }

          100% {
            width: 100%;
            visibility: visible;
          }
        }
      }
    }
  }
}
